.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    width: auto;
}

.cabecalho__nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__logo {
    width: 120px;
}

.cabecalho__button {
    background-color: transparent;
    border: none;

    width: 60px;
    height: 60px;
}

.cabecalho__button:hover {
    border: solid 2px black;
    border-radius: 5px;
}

.cabecalho__nav {
    display: none;
}

.cabecalho__nav-lista {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}


.cabecalho__nav-item {
    list-style: none;
}

.cabecalho__nav-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.cabecalho__nav-link:hover {
    text-decoration: underline;
}

.cabecalho__icon {
    width: 40px;
}

/* Formulario de Cadastro dekstop*/

.cabecalho__cadastro {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cabecalho__cadastro-form {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

/* Menu Mobile */

.cabecalho__mobile-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.cabecalho__mobile-item {
    width: 100%;

    border-top: 1px solid black;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho__mobile-link {
    font-family: 'Arial';
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
    width: 100%;
}

.cabecalho__mobile-link:hover {
    text-decoration: underline;
}

/*Drop Down Cadastro / Visitas */

.cabecalho__dropdown-cadastro {
    width: 100%;
}

.cabecalho__mobile-link-cadastro { 
    background-color: #E1ECF4;

    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 18px;
    
    border: none;
    cursor: pointer;
}

.cabecalho__mobile-link-cadastro:hover {
    text-decoration: underline;
}


.cabecalho__dropdown-cadastro-form {
    width: 300px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__dropdown-cadastro-input {
    background-color: #E1ECF4;
    width: 200px;
    margin: 4px;
    border: none;
    border-bottom: 1px solid black;
}

.cabecalho__dropdown-cadastro-label {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__dropdown-cadastro-button {
    background-color: #E1ECF4;
    margin-top: 8px;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .cabecalho__nav {
        width: 550px;
        
        display: flex;
        text-align: center;
        justify-content: space-between;
    }

    .cabecalho__menu {
        display: none;
    }
    
    .cabecalho__mobile {
        display: none;
    }
}