.rodape {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: black;
    padding: 1rem;
}

.rodape__texto {
    color: white;
    padding: 8px;
    font-size: 20px;
    text-align: center;
}

.rodape__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape__link {
    color: white;

    padding: 8px;

    text-decoration: none;
    font-size: 20px;
}

.rodape__link:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .rodape {
        flex-direction: row-reverse;
    }
}